# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
coverage.txt
*.out

# Builds
/dist
/foreplay
/vendor

# GoLand
.idea
